---
import { getCollection } from "astro:content";
import BaseLayout from '../../layouts/BaseLayout.astro';
import ArchivePanel from "@components/ArchivePanel.astro";

export async function getStaticPaths() {
  
const allPosts = await getCollection("posts");
const uniqueTags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
  const filteredPosts = allPosts.filter((post: any) => post.data.tags.includes(tag));
  return {
    params: { tag },
    props: { posts: filteredPosts },
  };
});

} 

const { tag } = Astro.params;
---
<BaseLayout pageTitle={tag}>
  <section class="mt-16 md:p-12 p-8">
    <h2 class="text-xl md:text-2xl font-bold">{tag}</h2>
    <ArchivePanel tag={tag} />
  </section>
</BaseLayout>