---
import { getCollection } from "astro:content";
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostsList from '../../components/PostsList.astro';

export async function getStaticPaths() {
const allPosts = await getCollection("blog");
const uniqueTags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
  const filteredPosts = allPosts.filter((post: any) => post.data.tags.includes(tag));
  return {
    params: { tag },
    props: { posts: filteredPosts },
  };
});

} 

const { tag } = Astro.params;
const { posts } = Astro.props;

---
<BaseLayout pageTitle={tag}>
  <section class="mt-16 md:p-12 p-8">
    <h1 class="text-4xl">{tag}</h1>
  <ul>
    {posts.map((post: any) => <PostsList url={`/posts/${post.id}/`} title={post.data.title}/>)}
  </ul>
  </section>
</BaseLayout>