---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
const pageTitle = "標籤目錄";

---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-3xl md:text-4xl ml-4">文章標籤</h1>
  <div class="flex flex-wrap p-4">
    {tags.map((tag) =><p class="m-2 p-2 flex items-center bg-slate-50 border border-gray-300 rounded-md mx-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2 text-sky-700">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
  <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
</svg>

      <a class="text-sky-700" href={`/tags/${tag}`}>{tag}</a>
      </p>)}
  </div>
</BaseLayout>