---
import BaseLayout from "../layouts/BaseLayout.astro";
import { CldImage } from "astro-cloudinary";
const pageTitle = "關於我";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="prose sm:prose-lg p-4 dark:prose-invert mx-auto my-24">
    <h1 class="text-center">關於Johnson</h1>
    <CldImage
      class="rounded-2xl mx-auto"
      src="tactical_coder_wqpoxn"
      width={480}
      height={480}
      alt="about me"
    />
    <hr class="" />
    <p>我曾在城市中最不為人知的角落，和隊友們共同執行過最危險的工作。</p>
    <p>那些年教會我的Tactical Mindset ，不會只留在我曾走過的高風險現場。</p>
    <p>
      看似毫不相關的戰術行動與Coding，其實都在回答同一個問題：
      如何在有限資源下，找出最佳解決方案。
    </p>
    <p>我是 Tactical Coder ——嘗試把戰術思維帶進數位世界的跨界創新者。</p>
    <p class="flex gap-4 items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
        ></path>
      </svg>
      聯繫我：johnsonin0212@gmail.com
    </p>
  </section>
</BaseLayout>
