---
import BaseLayout from "../layouts/BaseLayout.astro"
import { CldImage } from 'astro-cloudinary';
const pageTitle = "關於我";
---

<BaseLayout pageTitle={pageTitle}>
		<section class="prose dark:prose-invert lg:prose-xl mx-auto my-24">
			<h1 class="text-center">關於江森</h1>
			<CldImage class="rounded-2xl mx-auto" src="about-me_c7hkp2" width={320} height={420} alt="about me" />
			<hr class="" />
			<p>
				專注在前端的前戰術執法人員。喜歡鑽研知識技術，後來發覺到看得多忘得也多，因此開始嘗試利用部落格來保存記憶，卻不小心踏入網頁開發的領域。
	   </p>
		 <p><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
</svg>
聯繫我：johnsonin0212@gmail.com</p>
		</section>
</BaseLayout>

