---
import BaseLayout from "../layouts/BaseLayout.astro"
import PostsCollection from "../components/PostsCollection.astro";
const pageTitle = "首頁";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="flex justify-center mt-24 text-2xl md:text-5xl text-gray-800">
    <span class="animate-fadeIn p-1 bg-slate-300 dark:text-slate-100 dark:bg-slate-600 rounded-lg">前端</span>
    <span class="mx-4 animate-fadeIn p-1 dark:text-slate-100 dark:bg-slate-600 bg-slate-300 rounded-lg">網頁開發</span>
    <span class="animate-fadeIn p-1 dark:text-slate-100 dark:bg-slate-600 bg-slate-300 rounded-lg">技術鑽研雜感</span>
  </h1>
  <h2 class="text-center text-4xl mt-10">最新文章</h2>
  <PostsCollection />
</BaseLayout>

