---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro"
import PostsList from "../components/PostsList.astro";

const allPosts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const pageTitle = "文章";

---

<BaseLayout pageTitle={pageTitle}>
		<h1 class="text-3xl md:text-4xl">文章列表</h1>
    <ul class="mx-8">
        {allPosts.map((post: any) => <PostsList url={`/posts/${post.id}/`} title={post.data.title} date={post.data.pubDate.toLocaleDateString()} />)}
    </ul>
</BaseLayout>

