---
import { HERO_WORDS } from '@consts'
---
<!-- <div class="flex gap-4 md:gap-8 justify-center text-xl md:text-4xl mt-28 font-bold">
  <span class="p-2 text-white bg-gradient-to-r from-slate-400 to-slate-800 rounded-lg ">前端</span>
  <span class="p-2 text-white bg-gradient-to-r from-slate-400 to-slate-800 rounded-lg ">網頁開發</span>
  <span class="p-2 text-white bg-gradient-to-r from-slate-400 to-slate-800 rounded-lg ">技術分享</span>
</div> -->

<div class="mt-20 flex justify-center">
  <div class="flex items-center md:text-[32px] text-[24px] font-semibold relative z-10 gap-4 pointer-events-none">
    <div class="h-[36px] md:h-[52px] overflow-hidden">
      <div class="wrapper">
        {HERO_WORDS.map((word, index) => (
          <div
            class="flex items-center gap-1"
          >
            <img
              src={word.imgPath}
              alt="hero-icon"
              class="md:p-2 p-1 rounded-full bg-white-50 dark:bg-white size-8 md:size-10 object-contain"
            />
            <h1>{word.text}</h1>
          </div>
        ))}
      </div>
    </div>
  </div>
</div>