---
import { Icon } from "astro-icon/components";

const { headings } = Astro.props;
---

<div class="fixed top-20 left-4 space-y-1">
  <button
    id="dropdownButton"
    class="text-sm p-2 text-gray-700 bg-slate-50 border rounded-lg opacity-40 hover:opacity-100"
    >目錄 <Icon
      class="inline"
      name="material-symbols:keyboard-arrow-down"
    /></button
  >
  <div
    id="dropdownMenu"
    class="border px-4 bg-slate-100 dark:bg-slate-500 hidden"
  >
    <p class="text-base text-center font-semibold">文章目錄</p>
    <nav>
      <ul class="text-sm space-y-4">
        {
          headings.map((item: { slug: string; text: string }) => (
            <li>
              <a href={`#${item.slug}`}>{item.text}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</div>
